//main.pug
.pitcher &nbsp;
.piccy#one
	img(src="https://i.imgur.com/zwNhE1B.png")
	img(src="https://i.imgur.com/CakKuhH.png")
	img(src="https://i.imgur.com/cLrPblr.png")
	img(src="https://i.imgur.com/9RgC4jv.png")
.piccy#two
	img(src="https://i.imgur.com/oLovyuV.png")
	img(src="https://i.imgur.com/xdV4i8T.png")
	img(src="https://i.imgur.com/bjOtJD5.png")
	img(src="https://i.imgur.com/DHBkKA0.png")

.scrollyboy
	.prof-content
		.textwrap
			.textzone
				.fader &nbsp;
				.page
					.number 354
					.heading The Journals of Paladin MacCarthy
					.body
						p It came to pass that another traveler joined me on the road to the Malign Dungeon.
						p Our first encounter was under unfortunate circumstance, which lead me to believe the traveler was attempting to steal my horse. Apologetic, the traveler (a woman in the garb of a dungeoneering rogue) insisted she merely wanted to spend the night sharing the comfort of my campfire. This felt a mistake in my mind, but we must all follow the path of the gods, which is to have mercy. I told her she might stay a single night, though I would not provide her food or other creature comforts. I new feel this choice was handed down to me by the gods themselves as a test of my patience and devotion, for never before have I been so trifled by a traveling companion in all my days - nor owe my life so entirely to their help.
						p With conversation, I did learn that we were traveling to the same place. I thought this strange, and said as much, for the Malign Dungeon does quickly split into pieces those whom do not have the appropriate warding spells, which she sorely lacked. I have checked upon my own every morning of my journey, to make habit of maintaining those countermeasures that would keep me from falling ill of the Malign Dungeon's curse. At this, the traveler did laugh in a boastful manner, claiming she is one of the rare humans with which magic is horribly averse to. Curses roll off her back like water, claimed she, in so many words. I transcribe liberally here, for her speech is that informal breed spoken amongst the common masses, betraying a lack of education.
				.page
					.number 355
					.heading The Journals of Paladin MacCarthy
					.body
						p I was most suspicious of this claim, for she had in her eyes the dim countenance of those affected too many a time by fae magics, or the control of whispering druids. And most noticeably, she seemed to be altered towards a reptilian constitution. These, she insisted, were but proofs of her claim, that she has faced head-on the most cruel of Mind-Flayers; the most devious of fae tricksters; and even that most blunt of polymorphic spells, Egast's Soul Parenthesizer; and come out barely affected in the slightest. I would have found these claims incredulous - especially surviving a direct Soul Parenthesization with a shred of humanity left - were it not for what occurred later. However, at this point in my journey, I thought my companion either a liar, or a liar who is also a suicidal fool.
						p As we neared the Malign Dungeon, I did begin to see the effects of its curse upon the land. trees displaced in twain, rocks and ground cut cleanly along geometric lines. I felt the curse affect my wards, quite dulled by distance, but as menacing as I had always read of it. My traveling companion's unwavering high spirits have started to wear on me. But it was not until we entered the Dungeon proper that I realized everything the girl said about herself was, to the best of my observations, true as the sun does cross the sky. When the Dungeon's geometry cut itself apart under its Malign curse, entire rooms and their contents slicing in half, she was affected not at all, claiming only to feel a slight prickling. And here was I, looking the fool as I tended and re-applied my wards every twenty paces.
				.page
					.number 356
					.heading The Journals of Paladin MacCarthy
					.body
						p I must admit that I do owe my life to this stranger more than three times over, as she easily dove amongst the fractal cursed beasts of the Malign, elbowing them aside like stray pups and pulling me from a multitude of what would surely be gruesome deaths that would leave me in pieces across many a room.
						p We happened upon one of the lesser rooms of treasure in the upper floors. The traveler took her pick of jewels and lighter fare, while I was content with charcoal rubbings of some of the more intact wall carvings. From there, we did delve no further. A singular paladin and rogue, even as resistant to the curse as she is, could hold no candle to the more material dangers of the lower levels. We returned to the surface, and there she did bid me farewell. Our paths veered from each other too widely for a continued party to be of use. I provided her with my name and my standing, and she provided me hers.
						p I beseech the reader, the explorer, the aspiring dungeoneer; should ye encounter a certain Talpa Oleander, claiming to be impervious to curses and hexes, do let her sit and listen. Just take care she does not make away with your belongings in the night.
		.footy Made with the #[a(href="https://bitbucket.org/breezystatic77/rph-coding-env/src/master/" target="_blank") Rph Coding Environment]