//main.scss
@import "fonts"; //import statements will all be compiled into a single file.

$bodybg: #f6f6f6;
$textcolor: #0F1112;

body {
	background: $bodybg;
	transition: 0.25s background;
}

#profile-container {
	background: none;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.pitcher {
	background-image: url(https://i.imgur.com/t9e8IjF.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;

	transition: 0.25s opacity;
}

.scrollyboy {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.prof-content {
	position: absolute;
	top: 100%;
	width: 100%;
	margin-bottom: 50px;
}

// actual profile

.piccy {
	position: absolute;

	left: 50%;

	img {
		position: absolute;
		transform:translate(-50%, -50%);
		opacity: 0;
		transition: 0.25s opacity;
	}
	
	&#one {
		top: 33%;
		margin-left: -550px;
	}

	&#two {
		top: 66%;
		margin-left: 550px;
	}
}

.textwrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	
}

$pagewidth: 650px;
$pagespacing: 2em;

.textzone {
	width: 650px;

	color: $textcolor;
	background: $bodybg;
	transition: 0.25s background;
}

.fader {
	position: absolute;
	width: $pagewidth;
	height: 40px;
	top: -40px;
	background: linear-gradient(to bottom, rgba(246,246,246,0) 0%, rgba(246,246,246,1) 95%, rgba(246,246,246,1) 100%);
}

.page {
	position: relative;
	width: $pagewidth;
	height: $pagewidth * (3/2);

	//border: 1px solid rgb(235, 235, 235);
	overflow: hidden;

	font-family:  'Inknut Antiqua', serif;
	font-size: 14pt;
	line-height: 1.4em;
	text-indent: 2em;

	margin-bottom: 50px;

	.number {
		position: absolute;
		right: $pagespacing;
		top: $pagespacing;
		height: 0px;
	}

	.heading {
		position: absolute;
		text-align: center;
		width: 100%;
		text-indent: 0em;
		top: $pagespacing;
		font-style: italic;
	}

	.body {
		margin: $pagespacing;
		margin-top: $pagespacing * 2;
		//background: red;
		overflow: hidden;
		height: calc(100% - 2em*3); // needs to be redone x ^x
		box-sizing: border-box;

		p {

		}
		
		p.letter {
			text-indent:0em;
			&::first-letter {
				font-size: 40pt;
				float: left;
			}
		}

		p.cont {
			text-indent: 0em;
		}
	}
}

.footy {
	text-align: center;
	color: rgb(196, 196, 196);
	
	a {
		color: inherit;
	}
}